@font-face {
  font-family: "Main";
  src : url("./assets/css/fonts/main.ttf") format('truetype');
}
@font-face {
  font-family: "Visually";
  src : url("./assets/css/fonts/visually.otf");
  src : url("./assets/css/fonts/visually.ttf") format('truetype');
}
@font-face {
  font-family: "Good Brush";
  src : url("./assets/css/fonts/Good Brush.otf");
  src : url("./assets/css/fonts/Good Brush.ttf") format('truetype');
}
@font-face {
  font-family: "SNOWPE";
  src : url("./assets/css/fonts/SNOWPE.otf");
  src : url("./assets/css/fonts/SNOWPE.ttf") format('truetype');
}